<div class="table-wrapper">
    <div class="modal-decoration"></div>
    <div class="table-cell-modal">
        <h1 mat-dialog-title>{{model.Header}}</h1>
        <mat-dialog-content>{{model.Message}}</mat-dialog-content>

        <mat-dialog-actions>
            <button mat-button class="mat-raised-button primary-button mat-primary" color="primary" (click)="onConfirmation()">Одобри</button>
            <button mat-button class="mat-raised-button basic-button" mat-dialog-close (click)="onCancel()">Одбиј</button>   
        </mat-dialog-actions>
    </div>
</div>