<?xml version="1.0" encoding="utf-8"?>
<log4net debug="false">
  <appender name="RollingFileAppenderName" type="log4net.Appender.RollingFileAppender">
    <file value="C:\logs\coms\UI\comsUI.log" />
    <staticLogFileName value="true" />
    <appendToFile value="true" />
    <encoding value="unicodeFFFE" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd-dd" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%property{HostTenant}] [%property{UserHostAddress}] [%property{UserName}] RequestParams:[%property{RequestParameters}] %d [%t] %-5p %c [%x] - %m%n" />
      <encoding value="unicodeFFFE" />
    </layout>
  </appender>
  <logger name="RollingFileAppenderName">
    <level value="ALL" />
    <appender-ref ref="RollingFileAppenderName" />
    <appender-ref ref="SmtpAppender" />
  </logger>
</log4net>